.editor {
  border: thin solid blue;
  width: 20rem;
  height: 18rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.variables {
  position: absolute;
  top: 100%;
  border: thin solid blue;
  width: 100%;
  box-sizing: content-box;
}

/* .editor-content {
} */

.button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.resp-container {
  flex-basis: 500px;
}

.arrow {
  position: absolute;
  right: 1rem;
  top: 0;
  cursor: pointer;
}
